[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
bytewax = "*"
alembic = "*"
sqlmodel = "*"
asyncpg = "*"
sqlalchemy = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
aerich = "*"
psycopg = {extras = ["binary"], version = "*"}
uvicorn = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
pytest-sqlalchemy-mock = "*"

[requires]
python_version = "3.12"
