[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pydantic-settings = "*"
bytewax = "*"
psycopg = {extras = ["binary"] }
uvicorn = "*"
fastapi = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
pytest-sqlalchemy-mock = "*"
pytest-cov = "*"
aiosqlite = "*"

[requires]
python_version = "3.12"
