[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
bytewax = "*"
alembic = "*"
sqlmodel = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio", "postgresql_asyncpg"], version = "*"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
